h1 {
  text-align: center;
  background-color: rgb(255, 140, 0);
  }
head {
  text-align: center;
  background-color: rgb(255, 140, 0);
  
  }
 body {
  text-align: center;
   background-color: rgb(255, 140, 0);
  }

footer {
  text-align: center;
  background-color: rgb(255, 140, 0);
}